@model WebBanHang.Models.User

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/Components/_AdminPage.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TaiKhoan</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd>
            @if (Model.PhoneNumber == null)
            {
                <p>None</p>
            }
            else
            {
                Html.DisplayFor(model => model.PhoneNumber);
            }
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Enable2FA)
        </dt>
        <dd>
            @if (Model.Enable2FA)
            {
                <p>Enabled</p>
            }
            else
            {
                <p>Disabled</p>
            }
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
