@model ReflectionIT.Mvc.Paging.IPagingList<WebBanHang.Models.HangHoa>

@using ReflectionIT.Mvc.Paging
@addTagHelper *,ReflectionIT.Mvc.Paging

@{
    ViewData["Title"] = "Laptop Shop Nhóm 17";
    Layout = "~/Views/Shared/Layout_TrangChu.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <div class="heading"><h2>SẢN PHẨM MỚI NHẬP</h2></div>
        <div class="products">

            @foreach (var item in Model)
            {
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="product">
                        
                        <div class="image">
                            <a asp-action="Details" asp-controller="TrangChus" asp-route-mahh="@item.MaHH"> <img src="~/Hinh/@item.Hinh" width="200" height="20" alt="Just imported @item.TenHH" /></a>
                        </div>

                        <div class="buttons">
                            <a class="btn cart" asp-action="buy" asp-controller="cart" asp-route-id="@item.MaHH"><span class="glyphicon glyphicon-shopping-cart"></span></a>
                            <a class="btn wishlist" href="#"><span class="glyphicon glyphicon-heart"></span></a>
                            <a class="btn compare" href="#"><span class="glyphicon glyphicon-transfer"></span></a>
                        </div>
                        <div class="caption">
                            <div class="name"><h3><a>  @Html.DisplayFor(modelItem => item.TenHH)</a></h3></div>
                            <div class="price">@Html.DisplayFor(modelItem => item.DonGia)đ<span>@Html.DisplayFor(modelItem => item.GiamGia)%</span></div>
                            <div class="rating"><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span></div>
                        </div>
                    </div>
                </div>
            }

        </div>


    </div>
</div>
<div class="row">
    <div class="banner">
        <div class="col-sm-6">
            <img src="images/sub4.jpg" alt="Fourth banner"/>
        </div>
        <div class="col-sm-6">
            <img src="~/images/sub5.jpg" alt="Fifth banner"/>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="heading"><h2>SẢN PHẨM BÁN CHẠY</h2></div>
        <div class="products">
            @foreach (var item in ViewBag.model3s)
            {

                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="product">
                        <div class="image">
                            <a asp-action="Details" asp-controller="TrangChus" asp-route-mahh="@item.MaHH"> <img src="~/Hinh/@item.Hinh" width="250" height="250" alt="Best seller @item.TenHH" /></a>
                        </div>
                        <div class="buttons">
                            <a class="btn cart" asp-action="buy" asp-controller="cart" asp-route-id="@item.MaHH"><span class="glyphicon glyphicon-shopping-cart"></span></a>
                            <a class="btn wishlist" href="#"><span class="glyphicon glyphicon-heart"></span></a>
                            <a class="btn compare" href="#"><span class="glyphicon glyphicon-transfer"></span></a>
                        </div>
                        <div class="caption">
                            <div class="name"><h3><a> @item.TenHH</a></h3></div>
                            <div class="price">@item.DonGia đ<span>@item.GiamGia%</span></div>
                            <div class="rating"><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span></div>
                        </div>
                    </div>
                </div>
            }

        </div>

    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="heading"><h2>SẢN PHẨM NỔI BẬT</h2></div>
        <div class="products">
            @foreach (var item in ViewBag.model2)
            {

                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="product">
                        <div class="image">
                            <a asp-action="Details" asp-controller="TrangChus" asp-route-mahh="@item.MaHH"> <img src="~/Hinh/@item.Hinh" width="250" height="250" alt="Laptop hot product @item.TenHH" /></a>
                        </div>
                        <div class="buttons">
                            <a class="btn cart" asp-action="buy" asp-controller="cart" asp-route-id="@item.MaHH"><span class="glyphicon glyphicon-shopping-cart"></span></a>
                            <a class="btn wishlist" href="#"><span class="glyphicon glyphicon-heart"></span></a>
                            <a class="btn compare" href="#"><span class="glyphicon glyphicon-transfer"></span></a>
                        </div>
                        <div class="caption">
                            <div class="name"><h3><a>  @item.TenHH</a></h3></div>
                            <div class="price"> @item.DonGia đ<span> @item.GiamGia%</span></div>
                            <div class="rating"><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span></div>
                        </div>
                    </div>
                </div>
            }

        </div>

    </div>
</div>