
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Layout_Sanpham.cshtml";
}
@ViewData["Message"];

<div id="page-content" class="single-page">
    <div class="container">
        <h2>Giỏ hàng</h2>
        @using (Html.BeginForm("Update", "Cart", FormMethod.Post))
        {
          
                @foreach (var item in ViewBag.cart)
                {
                    <div class="row">
                        <div class="product well">
                            <div class="col-md-3">
                                <div class="image">
                                    <img src="~/Hinh/@item.Product.Hinh" width="150" height="150" />
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="caption">
                                    <div class="name"><h3><a asp-action="Details" asp-controller="TrangChus" asp-route-id="@item.Product.MaHH" asp-route-id2="@item.Product.MaLoai">@item.Product.TenHH</a></h3></div>
                                    <div class="info">
                                        <ul>
                                            <li>ID:@item.Product.MaHH</li>
                                        </ul>
                                    </div>
                                    <div class="price">@item.Product.DonGia đ<span>@item.Product.GiamGia%</span></div>
                                    <label>Số lượng: </label> <input name="quantity" class="form-inline quantity" type="number" value="@item.Quantity" asp-route-id="@item.Product.MaHH">
                                    <hr>
                                    <a asp-action="remove" asp-controller="cart" asp-route-id="@item.Product.MaHH" class="btn btn-default pull-right">Bỏ</a>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                }
            <input type="submit" value="Cập nhật giỏ hàng" />
        }
            

            <div class="col-md-4 col-md-offset-8 ">
                <center><a asp-action="Index" asp-controller="TrangChus" class="btn btn-1">Tiếp tục mua sắm</a></center>
            </div>
        </div>
        <div class="row">
            <div class="pricedetails">
                <div class="col-md-4 col-md-offset-8">
                    <table>
                        <h6>Chi tiết giá tiền</h6>
                        <tr>
                            <td>Tổng tiền</td>
                            <td>
                                @(ViewBag.gia)VND
                            </td>
                        </tr>
                        <tr>
                            <td>Giảm giá</td>
                            <td>@(ViewBag.giamgia)VND</td>
                        </tr>
                        <tr>
                            <td>Phí vận chuyển</td>
                            <td>-----</td>
                        </tr>
                        <tr style="border-top: 1px solid #333">
                            <td><h5>TỔNG TIỀN</h5></td>
                            <td>@(ViewBag.total)VND</td>
                        </tr>
                    </table>


                </div>

            </div>
            <div class="row">
                <div class="col-md-4 col-md-offset-8 ">
                    <center><a asp-action="ThanhToan" class="btn btn-1">Thanh toán</a></center>
                </div>
            </div>
        </div>
</div>


